Package: limes-service
Version: 0.5.2
Section: web
Priority: optional
Architecture: all
Depends: tomcat7
Maintainer: Alejandra Garcia-Rojas M <alejandra.garciarojas@ontos.com>
Distribution: ldstack-nightly
Homepage: https://github.com/GeoKnow/LIMES-Service
Description: A web service for LIMES
  (http://aksw.org/Projects/LIMES.html): LInk discovery 
  framework for MEtric Spaces.
  This Project implemented LIMES and provides a REST API 
  for discovering LINKS in the Web of Data.
